*{
    margin: 0;
    padding: 0;
}
body,p,span{
    font-family: 'Roboto', sans-serif;
}
body{
    margin-bottom: 0%;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Roboto', sans-serif;
}


/*................. custom styling .....................*/

/*.................menubar section.......................... */


.img-cl{
    max-width: 30%;
     
 }

.navbar-brand{
    border-right: 3px solid orangered;

}

.top-menu .container-fluid{

    max-width: 1480px;
    
}

ul.menu1{}

ul.menu1 li{}
ul.menu1 li a{
text-decoration: none;
display: inline-block;
padding: 5px 20px;
font-weight: 600;
color: rgba(0, 0, 0, 0.856);

}
ul.menu1 li a:hover{

   color: rgba(243, 61, 6, 0.952);
}


.header-login{
    width: 200px;
    margin-right: -16px;
}
.login{
    width: 114px;
}

.bg{
    background-color: rgba(241, 241, 241, 0.411);
}

body .btn-primary{
    background-color: rgb(226, 64, 14);
    border: rgb(226, 64, 14);
}


 /* ................footer section ..........................*/

 .row1{
    background-color: rgba(16, 19, 58, 0.856);
    height: 80px;
    margin-bottom: 2px;
}


 .footer-menu ul{
     list-style: none;
     position: relative;
     left: 16%;
 }
 .footer-menu ul li{
     display: inline-block;
   
    
 }
 .footer-menu ul li a{
     text-decoration: none;
     display: block;
     color: rgb(216, 229, 240);
     font-size: 14px;
     padding: 5px 5px;
     line-height: 60px;
     
 }
 .footer-menu ul li a:hover{
      color: white;
      font-weight: 300;
 }


 .footer-contact{
     color: whitesmoke;
     text-align: justify;
  
 }
 .footer-contact h6{
     font-size: 13px;
     line-height: 3;
     position: relative;
     left: 45%;
     bottom: 8%;
     
 }
 .footer-contact p{
  position: relative;
  left: 45%;
      font-weight: 300;
      font-size: 11px;
      line-height: 0px;
 }

 .row2{
     background-color: rgb(47, 45, 45);
     height: 30px;

 }

 .footer-end{
     color: whitesmoke;
     font-size: 12px;
     font-weight: 300;
     line-height: 20px;
     
 }


 /* ...............login portal section............. */

 .login-section{
     width: 100%;
     height: 66vh;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: auto;
     background: url(http://4.bp.blogspot.com/-HatqCYL4tsw/UIY_MhXK3mI/AAAAAAAAL-M/8YjrYY29i34/s1600/Abstract+Purple+Wallpapers+2.jpg) no-repeat;
     background-size: cover;
     background-blend-mode: darken;
     background-color: rgba(36, 41, 42, 0.849);
     color: cornsilk;
 }

     .login-section .container-fluid .row{
        display: flex;
        justify-content: center;
       


 }
 .login-section .container-fluid .row .col-lg-6{
    width: 30%;
    height: 35vh;
    border: 1px solid rgb(201, 190, 190);
    border-radius: 5px;
    margin: 1%;
}

     
 .franchise-login{

     
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }

.col-lg-6 h4{

    padding: 1rem;
}
.col-lg-6 .box1,.box2{
    padding: 2%;
}
.col-lg-6 input{
    padding: 2%;
    margin-left: 1px;
    border: 2px solid rgb(160, 182, 229);
    border-radius: 5px;
    outline: none;
    background: none;
    color: cornsilk;
}

 i.fas.fa-user {
    padding: 3px;
}
i.fas.fa-key {
    padding: 3px;
}

.box1 span {
    padding: 0px 5px 0px 0px;
}
.box2 span {
    padding: 0px 5px 0px 0px;
}


    .admin-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input.submit-button{
        background-color: #45e7917c;
        padding: 3px 25px;
        margin-top: 5px;
        z-index: 80;
        border: 1px solid #1c69407c;
    }